body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    animation-name: farge;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(172, 203, 238) 0%, rgba(201, 221, 245) 56%, rgba(231, 240, 253) 100%);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*
@keyframes farge {
    0% {
        background-color: red;
    }
    10% {
        background-color: yellow;
    }
    20% {
        background-color: blue;
    }
    30% {
        background-color: lime;
    }
    40% {
        background-color: purple;
    }
    50% {
        background-color: green;
    }
    60% {
        background-color: purple;
    }
    70% {
        background-color: lime;
    }
    80% {
        background-color: blue;
    }
    90% {
        background-color: yellow;
    }
    100% {
        background-color: red;
    }
}
*/

main {
    display: grid;
    grid-template-areas: "topbar1 topbar2 topbar3" "ads content sidebar" "footer footer footer";
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% 90% 5%;
    row-gap: 10px;
}

header {
    grid-area: topbar2;
    background-color: #ffffff98;
}

.overskrift, h1 {
    margin: 15px 40px 15px;
}

article {
    grid-area: content;
    background-color: #ffffff9d;
}

aside {
    grid-area: ads;
}

nav {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}

/*
.dropdown-knapp {
    background-color: rgb(161, 204, 255);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: solid #ffffff25;
    cursor: pointer;
    position: fixed;
}

.dropdown-knapp:hover {
    background-color: #ffffff;

}

.dropdown {
    display: inline-block;
    position: absolute;
    margin: 100px auto;
    position: fixed;
}

.dropdown-innhold {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.938);
    min-width: 160px;
    box-shadow: 10px 10px 20px 0px;
    position: fixed;
    bottom: 48%;
}

.dropdown-innhold a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-innhold a:hover {
    background-color: rgb(212, 212, 212);
}

.dropdown:hover .dropdown-innhold {
    display: block;
}
*/

p {
    margin-left: 10px;
    margin-right: 10px;
}

h6 {
    margin-left: 48%;
}

#knapper {
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#knapper2 {
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons {
    font-size: 26px;
    padding: 20px 100px;
    margin: 10px 10px;
    border: solid black;
    text-align: center;
    width: 260px;
    background-color: azure;
}

.buttons2 {
    font-size: 14px;
    padding: 8px 12px;
    margin: 6px 6px;
    border: solid black;
    text-align: center;
    width: 200px;
    background-color: azure;
}

.buttons:hover {
    box-shadow: 2px 2px 2px black;
    background-color: rgb(213, 219, 219);
}

.buttons:active {
    transform: translatey(3px);
}

a {
    text-decoration: none;
    color: black;
}

#bilder {
    border: solid black;
}

h6 {
    font-size: 2px;
}

.video, iframe {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    background-color: #777;
}

iframe {
    display: block;
    border-style:none;
}