body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    animation-name: farge;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: #c6d0d6;
}

/*
@keyframes farge {
    0% {
        background-color: red;
    }
    10% {
        background-color: yellow;
    }
    20% {
        background-color: blue;
    }
    30% {
        background-color: lime;
    }
    40% {
        background-color: purple;
    }
    50% {
        background-color: green;
    }
    60% {
        background-color: purple;
    }
    70% {
        background-color: lime;
    }
    80% {
        background-color: blue;
    }
    90% {
        background-color: yellow;
    }
    100% {
        background-color: red;
    }
}
*/

main {
    display: grid;
    grid-template-areas: "topbar1 topbar2 topbar3" "ads content sidebar" "footer footer footer";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 15% 70% 15%;
    gap: 10px 10px;
}

header {
    grid-area: topbar2;
    background-color: #1e869b2d;
}

.overskrift, h1 {
    margin: 10px 10px 10px 10px;
}

article {
    grid-area: content;
    background-color: #b8b5f7;
}

aside {
    grid-area: ads;
}

nav {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}

.dropdown-knapp {
    background-color: rgb(129, 129, 129);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: solid #13525E;
    cursor: pointer;
}

.dropdown-knapp:hover {
    background-color: #69979C;
    /* Alle farger jeg legger til er midtlertidig*/
}

.dropdown {
    display: inline-block;
    position: absolute;
    margin: 100px 200px;
}

.dropdown-innhold {
    display: none;
    position: absolute;
    background-color: rgb(177, 177, 177);
    min-width: 160px;
    box-shadow: 10px 10px 20px 0px;
    z-index: 1;
    left: 100%;
    bottom: -316%;
}

.dropdown-innhold a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-innhold a:hover {
    background-color: rgb(121, 121, 121);
}

.dropdown:hover .dropdown-innhold {
    display: block;
}

#pil {
    font-size: 10vw;
    color: black;
    margin-top: 20px;
    margin-left: 30px;
}

#pil:link {
    text-decoration: none;
}

#pil:visited {
    text-decoration: none;
}

#pil:hover {
    text-decoration: none;
}

#pil:active {
    text-decoration: none;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}

h6 {
    margin-left: 48%;
}